@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* Ẩn các chỉ mục của thanh cuộn */
*::-webkit-scrollbar-thumb {
  background-color: #2563eb;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

input[type='range']::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}

input[type='range']::-ms-track {
  -ms-appearance: none;
  height: 5px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #2563eb;
  border-radius: 50%;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: -4px;
  pointer-events: auto;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb:active {
  border: solid 1px rgb(255, 150, 150);
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #2563eb;
  border-radius: 50%;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: -4px;
  pointer-events: auto;
  cursor: pointer;
}
input[type='range']::-moz-range-thumb:active {
  border: solid 1px rgb(255, 150, 150);
}

input[type='range']::-ms-thumb {
  -ms-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #2563eb;
  border-radius: 50%;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: -4px;
  pointer-events: auto;
  cursor: pointer;
}
input[type='range']::-ms-thumb:active {
  border: solid 1px rgb(255, 150, 150);
}

label,
button,
a,
input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
  -webkit-tap-highlight-color: transparent;
}

/* slick-prev */

.slick-next {
  right: 30px;
}
.slick-next::before,
.slick-prev::before {
  font-size: 40px;
  color: #fb923c;
}
.slick-prev {
  left: 10px;
  z-index: 50;
}
